---
import InfoIcon from "../../assets/icon-info.svg";
---

<div class="root">
	<div class="heading">
		<InfoIcon />
		<slot name="title">Did you know?</slot>
	</div>
	<slot/>
</div>

<style>
	div.root {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0.5rem 1rem 1rem 1rem;
		border-radius: 16px;
		border: 1px solid var(--secondary);
		background-color: var(--background-lighter);

		& > div.heading {
			display: flex;
			align-items: center;
			gap: 8px;
			border-bottom: 1px solid var(--secondary);
		}

		p {
			margin: 0;
		}
	}
</style>
